<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete File</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="main text-white p-10 w-full min-h-screen bg-zinc-900">
        <a class="text-blue-500 inline-block mb-10" href="/">Go back to Home</a>
        <div class="flex justify-center items-center">
            <form action="/delete" method="post" class="bg-zinc-800 text-center w-3/4">
                <p class="text-xl mt-3">Are you sure you want to delete</p><span class="text-xl mt-3 text-yellow-500 "> <%=filename%> </span>
                <span class="text-xl mt-3">?</span>
                <input type="hidden" name="deletedFile" value="<%= filename %>">
                <br>
                <div class="mt-2 flex justify-between ">
                    <a class="mb-3 ml-2 bg-zinc-500 rounded-md px-5 py-2" href="/">Cancel</a>
                    <input class="mb-3 mr-2 bg-red-600 rounded-md px-5 py-2" type="submit" value="Delete it">
                </div>
            </form>
        </div>
    </div>
</body>
</html>